PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for averyone"

DEBUG=True
SECRET_KEY=<SECRET_KEY>

SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

SQL_HOST=postgres
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres